*.pyc
*.bash_history
*.python_history
*.DS_Store
*.env
*.cache
*src
*.viminfo
*__pycache__
backend/src/*.txt
backend/src/result/*.txt
backend/src/*.csv
backend/src/Bookmarks
backend/.bash_history
backend/.python_history
backend/.DS_Store
backend/.cache/*
backend/config/config.ini
backend/src/*.json

backend/.vimrc