*.pyc
*.bash_history
*.python_history
*.DS_Store
*.env
*.cache
*.viminfo
*__pycache__
backend/src/logs/*.log
backend/src/logs/*.log.*
backend/src/csv/*.csv
backend/.bash_history
backend/.python_history
backend/.DS_Store
backend/.cache/*
backend/config/config.ini
backend/src/*.json

backend/.vimrc