[APP]
ENV=PRO


[SPOTIPY]
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=


[PLAYLIST_ID]
MY_PLAYLIST=


[GOOGLE_API]
JSONF_DIR = ./src/
JSON_FILE = 
SPREAD_SHEET_KEY=
Spread_SHEET_NAME=


[FILES]
DIR_SRC=./src/
DIR_CSV=./src/csv/
FILENAME_OF_CSV=tracks.csv